.linkedin-button {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
  border-radius: 50%;
  background-color: var(--gray);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.linkedin-button:hover {
  /* transform: scale(1.1); */
  background-color: black;
  border: 2px solid var(--purple);
}
