.bottom-buttons-wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 3em;
    padding-left: 3em;
    width: 100%;
    height: 10vh;
  }
  
  .bottom-buttons-container {
    display: flex;  
  }
  
  .bottom-buttons-title {
    font-family: Montserrat;
    font-weight: 600;
    padding-bottom: .3em;
  }
  
  @media (max-width: 768px) {
    .bottom-buttons-wrapper {
      padding-left: 1em;
      padding-bottom: 1em;
    }
  
    .bottom-buttons-container {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 480px) {
    .bottom-buttons-title {
      font-size: 0.9em;
    }
  }