.contact-button{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    margin-right: 1em;
    border-radius: 50%;
    background-color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  .contact-button:hover{
    transform: scale(1.1);
    border: 2px solid var(--purple  );
  }

  .submit-btn {
    margin-top: 2em;
  }

  /* .top-buttons-wrapper {
    position: absolute;
    padding-left: 3em;
    z-index: 3;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .contact-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 3;
    border-radius: 50%;
    background-color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  
.contact-button:hover {
    transform: scale(1.1);
    border: 2px solid var(--purple);
  } */