.featured-projects-slider {
  position: absolute;
  z-index: 3;
  margin-top: 4em;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  filter: drop-shadow(0 0 25px var(--purpleLowOpacity));
  border-radius: 6px;
  padding: 1em;
  width: 300px;
  transition: all 0.2s ease;
}

.slider-title {
  position: absolute;
  top: 0;
  transform: translateY(-1.5em);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.3em;
  white-space: nowrap;
  text-shadow: black 1px 1px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease;

}

.slide.active {
  opacity: 1;
  position: relative;
}

.thumbnail {
  width: 300px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: none;
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.project-subtitle {
  font-family: Hind;
  color: rgb(192, 192, 192);
  font-size: 0.7em;
  font-weight: 400;
  font-style: italic;
  /* margin-bottom: 0.2em; */
}

.project-description {
  margin-top: .5em;
  margin-bottom: .5em;
  line-height: 1.3em;
  font-family: Hind;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 300;
  text-align: left;
}


.buttons-container {
  width: 100%;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: right;
  align-items: center;
}

.view-button, .share-button {
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  background-color: var(--gray);
  transition: all 0.2s ease;
}


.view-button:hover, .share-button:hover {
  transform: scale(1.1);
  border: 2px solid var(--purple);
  background-color: black;
}

.share-button.shared {
  background-color: var(--purple);
}

.share-button ion-icon {
  transition: all 0.2s ease;
}

.share-button.shared ion-icon {
  color: white;
}

.share-notification {
  position: absolute;
  bottom: -3em;
  right: 0;
  background-color: var(--purple);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.share-notification.visible {
  opacity: 1;
}