.top-buttons-wrapper {
  position: absolute;
  /* padding-left: 3em; */
  z-index: 3;
  margin-left: 1em;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: .5em;
  padding-bottom: .5em;
}

.button-container {
  position: absolute;
  transition: all 0.2s ease;
}

.button-container.active {
  z-index: 4;
}

.top-bar-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: black;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}

.top-bar-button:hover {
  transform: scale(1.1);
  border: 2px solid var(--purple);
}

.active .top-bar-button {
  transform: scale(1.1);
}

.fluid-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: black;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-right: 1em;
}

.fluid-button:hover {
  transform: scale(1.1);
  border: 2px solid var(--purple);
}
