*{
    box-sizing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ion-icon {
  cursor: pointer;
  color: white;
  font-size:x-large;
}